# Dependencies
node_modules/

# Next.js
.next/
out/
build/
dist/

# Env & secrets
.env
.env*.local
.env.production

# Testing
coverage/
playwright-report/
test-results/

# Prisma
prisma/*.db

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
*.log

# Next.js generated types
next-env.d.ts
tsconfig.tsbuildinfo
